/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');

*,
::after,
::before {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Red Rose', Courier, monospace;
}

h1 {
  line-height: 80px;
}

p {
  line-height: 35px;
}

.input-border {
  border: 1px solid #a3a3a3;
  border-radius: 8px 0 0 8px;
}

.input-border::placeholder {
  padding-left: 10px;
}

.home-input-btn {
  border-radius: 0 10px 10px 0;
}

.border-b {
  border-bottom: 1px solid #ccc;
}

.center {
  position: fixed;
  top: 35%;
  right: 50%;
  left: 35%;
}

.change-bg {
  background: rgba(64, 64, 64, 0.3);
}
